body{
    text-align: center;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.output{
    margin: 10px auto;
    /* border: 2px solid #000; */
    width: auto;

}
#requestInput{
    height: 19px;
}
.butt{
    background-color: #66FF00;
    border: none;
    font-size: 20px;
}
.resultCard{
    background-color: #B1E80C;
    text-align: unset;
    margin: 5px auto;
    border-radius: 5px;
    width: 50%;
}
.resultCard span{
    background-color: #FFF80D;
    border-radius: 10%;

}